<div id="tiles">
  <%= render partial: "tiles"%>
</div>
<br/>
<div class="ml250">
  Color Picker: <input class="colors">
</div>
<div class="ml400 mt25">
  <button onclick="Changeboardcolor();">Ok</button>
  <button>Cancel</button>
</div>